.account {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 20px;
  max-width: 280px;
  margin-left: 20px;
}

.profilePic {
  width: 70px !important;
  height: 70px !important;
  border-radius: 35px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.displayName {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0px;
  color: #434343;
  padding: 10px 0 4px 0;
}

.editBtn {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
  color: #406EAC;
  cursor: pointer;
  margin-bottom: 14px;
}

.line {
  border: 1px solid #E0E0E0;
  background: #E0E0E0;
}

.profileDetail {
  padding-bottom: 10px;
}

.emailTxt {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #434343;
  margin-top: 10px;
}

.editBtnDetail {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #406EAC;
  cursor: pointer;
}

.menu {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 6px 20px 20px 20px;
  margin-top: 16px;
  max-width: 280px;
  margin-left: 20px;
}

.menuTitle {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #6E6E6E;
  margin-top: 14px;
}

.subMenuGrp {
  margin-left: 20px;
}

.subMenu {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #6E6E6E;
  cursor: pointer;
  margin: 4px 0;
}