.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 91vh;
  padding: 0 30px;
  background: #f8f8f8 0 0 no-repeat padding-box;
}

.resetPassBlock {
  background: var(--element) 0% 0% no-repeat padding-box;
  border: 1px solid var(--element-border);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E0E0E0;
  border-radius: 20px;
  opacity: 1;
  padding: 30px;
  max-width: 410px;
}

.resetPassTitle {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #434343;
}

.resetPassDetail {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #707070;
  margin-top: 20px;
}

.resetPassEmail {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #707070;
}

.inputCode {
  height: 46px;
  width: 36px;
  background: var(--element) 0% 0% no-repeat padding-box;
  border: 1px solid var(--element-border);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  opacity: 1;
  text-align: center;
  margin: 20px 10px 0 10px;
}

.btnGrp {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #406EAC;
  margin: 0px 16px;
}