.informationBox {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 16px;
}

.titleMenu {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #434343;
}

.detailsMenu {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #6E6E6E;
  padding: 16px 0;
}

.AccountInformationBox {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E0E0E0;
  border-radius: 16px;
  margin: 0 20px;
}

.itemBox {
  padding: 16px;
  border-bottom: 1px solid #E0E0E0;
}

.lastItemBox {
  padding: 16px;
}

.titleSubInformation {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #9B9B9B;
}

.titleEdit {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  color: #6E6E6E;
  cursor: pointer;
}

.valueInformation {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #434343;
}

.profilePic {
  width: 60px;
  height: 60px;
  background: #15355F 0% 0% no-repeat padding-box;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 30px;
}

.note {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #C0C0C0;
  padding: 20px 30px;
}

.removeSession {
  font-size: 14px;
  letter-spacing: 0px;
  color: #0A66E2;
  border: 1px solid #0A66E2;
  border-radius: 12px;
  width: fit-content;
  padding: 6px 16px;
  margin: 30px 0 0 10px;
  background: transparent;
}

.titleChangeProfile {
  color: #434343;
  font-size: 18px;
  font-weight: 600;
}

.descChangeProfile {
  color: #9B9B9B;
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0;
}

.currentChangeProfile {
  color: #434343;
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0;
}

.changePic {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background: #15355F 0% 0% no-repeat padding-box;
  margin: 20px 0 10px 0;
}

.setDefaultPic {
  color: #CCCCCC;
  font-size: 14px;
  font-weight: 200;
  margin-top: 8px;
}

.setDefaultPic:hover {
  color: #AAAAAA;
  cursor: pointer;
  font-weight: 300;
}

.grpBtn {
  margin-top: 10px;
  padding: 10px;
  display: flex;
}

.btnUploadPic {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  color: #6E6E6E;
  font-size: 14px;
  width: -webkit-fill-available;
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
}

.btnUploadPic > div {
  margin-left: 6px;
}

.btnUploadPic:hover {
  background: #E0E0E0 0% 0% no-repeat padding-box;
  border: 1px solid #E0E0E0;
  color: #6E6E6E;
  cursor: pointer;
}

.inputBox {
  padding-top: 7px;
}

.input {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #434343;
}

.backwordBtn {
  align-self: end;
  padding: 0 20px;
  color: #406EAC;
  cursor: pointer;
  font-weight: 300;
}

.btn {
  height: 32px;
  background: #0A66E2 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.btnCancel {
  height: 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #0A66E2;
  border-radius: 12px;
  opacity: 1;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  color: #0A66E2;
}

.btnCancel:hover {
  height: 32px;
  background: #EEEEEE 0% 0% no-repeat padding-box;
  border: 2px solid #0A66E2;
  border-radius: 12px;
  opacity: 1;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  color: #0A66E2;
}